@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body { margin: 0; font-family: 'Droid Sans Mono', monospace; }

.hide { max-height: 0px; height:0px; overflow:hidden; }
.show { max-height: 100%; height:inherit;}

* {
    -webkit-overflow-scrolling: touch;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select {
  text-align:center;
  color:#606c76;
  font-size:16px;
  transition: all 0.25s;
}

.fade {
  opacity: 0.15;
}

#main {
  height:80vh;
  overflow:hidden;
  padding:0;
}

#progress {
  position: fixed;
  top: 10px;
  width: 100%;
}

.progress-indicator {
  height: 4px;
  border-radius: 2px;
  background-color: #9b4dca;
}

#display {
  display:flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2em;
}

#display-start {
  text-align:right;
  flex:1;
}

#display-focus {
  color: #9b4dca;
  text-decoration: underline;
  align-self: center;
}

#display-end {
  text-align:left;
  flex:1;
}

#toolbar {
  text-align: center;
  position:fixed;
  bottom: 10px;
  width: 100%;
  transition: all 0.25s;
}

#menu {
  position: fixed;
  bottom:10px;
  overflow: scroll;
  background-color: rgba(255,255,255,0.8);
  transition: max-height 0.25s;
  height:98%;
}

.menu-book-button {
  width:100%;
}

.menu-chapters {
  transition: max-height 0.25s;
}

.menu-chapter-button {
  font-size:1.2em;
}

